.header {

background-color: rgb(255, 255, 255);
box-sizing: border-box;
color: rgb(34, 35, 33);
display: block;
font-family: "FS Meridian Regular", sans-serif;
font-size: 16px;
font-variant-ligatures: no-common-ligatures;
height: 64px;
letter-spacing: normal;
line-height: 24px;
margin-bottom: 49px;
padding-bottom: 16px;
padding-top: 16px;
position: sticky;
text-size-adjust: 100%;
top: 0px;
transition-duration: 0.4s;
/* transition-property margin, padding; */
transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
width: 1209px;
z-index: 1009;
-webkit-font-smoothing: antialiased;
}