.footer {
  background-color: rgb(207, 163, 163);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  bottom: 0;
  left: 0;
}

.logo {
  text-align: center;
}