@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat:wght@200;300;500&display=swap');

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  /* filter: blur(4px); */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight:300;
  color:rgb(30, 35, 30);
  padding:0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overscroll-behavior-y: none;
  animation: fadeInAnimation ease-out .8s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

h1 {
  text-align: center;
  padding: 65px;
  border-bottom: 1px solid rgb(245, 245, 245);
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  transition: all 0.5s ease;
}

/* .rainbow {
  background-image: linear-gradient(-90deg, black 0,lightcoral 20%,black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

a {
  text-decoration: none;
  color: #000;
}

.remove-item {
  border-bottom: 1px solid #000;
  overflow: hidden;
  margin-top: 30px;
}